<?xml version="1.0" encoding="utf-8" ?>
<suite name="Default suite" parallel="false">
    <test name="testdemo">
        <!--<packages>-->
        <!--<package name="com.testproj.Demo"/>-->
        <!--</packages>-->
        <classes>
            <class name="Car.CarTest"/>
        </classes>
        <listeners>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        </listeners>
    </test>
</suite>